/* ================= HEADER ================= */
.header-content {
	background: linear-gradient(135deg, #4f992c);
	padding: 30px;
	border-radius: 15px;
	text-align: center;
}

/* ================= CARD CONTAINER ================= */
.cards-container {
  max-width: 1000px;
  margin: 60px auto;
  display: grid;
  text-align: center;
  gap: 30px;
}

/* ================= CARD BUTTON ================= */
.button {
  border-radius: 15px;
  padding: 11px;
  border: 2px solid #4f992c;
}

.button1 {
  border-radius: 15px;
  padding: 11px;
  border: 2px solid #4f992c;
}
